@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem ;
}

/* #region Header */

header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.title-box {
    margin-bottom: 1rem;
}

.payoff {
    color: grey;
    font-size: 12px;
}

.togglers {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.toggle {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 14px;
    /* align-items: flex-start; */
}

.bi-toggle-on,
.bi-toggle-off {
    font-size: x-large;
    margin-left: 5px;
}

.bi-toggle-on {
    color: black;
    margin-right: 1rem;
}

.bi-toggle-off {
    color: grey;
}

/* #endregion */

/* #region Main */


.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    flex-grow: 1;
    padding: 1rem;
    border: 1px lightgray solid;
    border-radius: 15px;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px 0 lightgrey;

    p {
        margin-bottom: 10px;
    }
}

.centrali {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.choose {
    text-decoration: none;
    background-color: #6500ff;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    text-align: center;
    font-size: small;
    margin: 10px 0;
}

.btn {
    color: white;
    text-decoration: none;
    align-items: center;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
}

.features {
    display: flex;
    /* align-items: start; */
    gap: 10px;
}

.inverted {
    background-color: #6500ff;
    color: white;

    .choose {
        background-color: white;
    }

    .btn {
        color: #6500ff;
    }
}

/* #endregion */