/* #region Page Setting */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem ;
}
/* #endregion */

/* #region Header */

header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.title-box {
    margin-bottom: 1rem;
}

.payoff {
    color: grey;
    font-size: 12px;
}

.togglers {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.toggle {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 14px;
    /* align-items: flex-start; */
}

.bi-toggle-on,
.bi-toggle-off {
    font-size: x-large;
    margin-left: 5px;
}

.bi-toggle-on {
    color: black;
    margin-right: 1rem;
}

.bi-toggle-off {
    color: grey;
}

/* #endregion */

/* #region Main */


.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    flex-grow: 1;
    padding: 1rem;
    border: 1px lightgray solid;
    border-radius: 15px;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px 0 lightgrey;
}

.sub-h2 {
    font-size: small;
    color: grey;
    margin-bottom: 1rem;
}

.centrali {
    text-align: center;
}

.c-1 {
    margin-bottom: 1rem;
}

.c-1-s1  {
    font-size: 2.5rem;
    font-weight: 700;
}

.c-1-s2 {
    color: grey;
}

.c-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: small;
    
}

.c-2-1 {
    color: black;
    background-color: lightgrey;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.c-3 {
    background-color: #6500ff;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: small;
    /* margin-bottom: 1rem; */
}

.btn {
    color: white;
    text-decoration: none;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.features .bi {
    margin-right: 5px;
}

.inverted {
    background-color: #6500ff;
    color: white;

    .sub-h2, .c-1-s2 {
        color: white;
    }

    .c-3 {
        background-color: white;
    }

    .btn {
        color: #6500ff;
    }
}

/* #endregion */