@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    /* border-left: 1px dashed red;
    border-right: 1px dashed red; */
}

header {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px dashed red; */
    margin: 0 10px 10px;
}

.text {
    /* border: 1px dashed red; */
}

.payoff {
    color: grey;
    font-size: smaller;
    /* border: 1px dashed red; */
}

.togglers {
    flex-grow: 1;
    text-align: end;
}

.toggle {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: medium;
    margin-right: 15px;
}

.bi {
    font-size: x-large;
    margin-left: 5px;
}

.col {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 10px;
}

.card {
    flex-grow: 1;
    padding: 1rem;
    border: 1px lightgray solid;
    border-radius: 15px;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px 0 lightgrey;

    p {
        margin-bottom: 10px;
    }
}

.centrali {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.choose {
    text-decoration: none;
    background-color: #6500ff;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 10%;
    text-align: center;
    margin: 10px 0;
}

.btn {
    color: white;
    text-decoration: none;
    align-items: center;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.features {
    display: flex;
    /* align-items: start; */
    gap: 10px;
}

.inverted {
    background-color: #6500ff;
    color: white;

    .choose {
        background-color: white;
    }

    .btn {
        color: #6500ff;
    }
}                     