@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    border-left: 1px dashed red;
    border-right: 1px dashed red;

}

.payoff {
    color: grey;
}

.toggle {
    background-color: transparent;
    border: none;
    color: grey;
}

